/** 
 * Add styles for body
 */
body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.row
{
	width: 100%;
}


/** 
 * [data-href]
 */
*[data-href]
{
	cursor: pointer;
}


/** 
 * Add font sizes
 */
.extra-large
{
	font-size: rem-calc(24);
}

.extra-big
{
	font-size: rem-calc(21);
}

.big
{
	font-size: rem-calc(18);
}

.small
{
	font-size: rem-calc(14);
	line-height: rem-calc(24);
}

.extra-small
{
	font-size: rem-calc(12);
	line-height: rem-calc(21);
}


/** 
 * Add float classes
 */
.float-left-for-large
{
	@include breakpoint(large)
	{
		float: left!important;
	}
}

.float-right-for-large
{
	@include breakpoint(large)
	{
		float: right!important;
	}
}

.float-left-for-xlarge
{
	@include breakpoint(xlarge)
	{
		float: left!important;
	}
}

.float-right-for-xlarge
{
	@include breakpoint(xlarge)
	{
		float: right!important;
	}
}


/** 
 * Add margin classes 
 * (`bottom-buffer` is REMOVED. Use `margin-bottom` or `margin-top` instead.)
 */
 $margin-sizes: (
	"0point5rem": 8,
	"1rem": 16,
	"1point5rem": 24,
	"2rem": 32,
	"2point5rem": 40
);
$margin-positions: "margin-bottom", "margin-top";

@each $margin-position in $margin-positions {
	.no-#{$margin-position} {
		#{$margin-position}: 0;
	}
}

@each $margin-position in $margin-positions {
	@each $name, $px in $margin-sizes {
		.#{$margin-position}-#{$name} {
			#{$margin-position}: rem-calc($px);
		}
	}
}


/** 
 * Add font weight classes
 */
.font-light, // @DEPRECATED
.font-weight-light
{
	font-weight: 300;
}

.font-normal, // @DEPRECATED
.font-weight-normal
{
	font-weight: 400;
}

.font-bold, // @DEPRECATED
.font-weight-bold
{
	font-weight: 700;
}


/** 
 * Add background position and size classes
 */
.bg-center, // @DEPRECATED
.bg-position-center
{
	background-position: center center!important;
}

.bg-center-top, // @DEPRECATED
.bg-position-center-top
{
	background-position: center top!important;
}

.bg-center-bottom, // @DEPRECATED
.bg-position-center-bottom
{
	background-position: center bottom!important;
}

.bg-size-cover
{
	background-size: cover!important;
}

.bg-no-repeat, // @DEPRECATED
.bg-repeat-no-repeat
{
	background-repeat: no-repeat;
}

.bg-repeat-x
{
	background-repeat: repeat-x;
}

.bg-attachment-fixed
{
	/**
	* Style for when viewport goes above {large} breakpoint
	*/
	@include breakpoint(large)
	{
		background-attachment: fixed;
	}
}


/** 
 * Add text and background color classes
 */
.alt-primary, // @DEPRECATED
.font-color-primary
{
	color: $brand-primary;
}

.alt-secondary, // @DEPRECATED
.font-color-secondary
{
	color: $brand-secondary;
}

.alt-white, // @DEPRECATED
.font-color-white
{
	color: $brand-white;
}

.alt-black, // @DEPRECATED
.font-color-black
{
	color: $black;
}

.alt-header-color, // @DEPRECATED
.font-color-header-color
{
	color: $brand-header-color;
}

.bg-primary, // @DEPRECATED
.bg-color-primary
{
	background-color: $brand-primary;
}

.bg-secondary, // @DEPRECATED
.bg-color-secondary
{
	background-color: $brand-secondary;
}

.bg-white, // @DEPRECATED
.bg-color-white
{
	background-color: $brand-white;
}

.bg-primary-for-mobile, // @DEPRECATED
.bg-color-primary-for-mobile
{
	/**
	* Style for when viewport goes below {large} breakpoint
	*/
	@include breakpoint(large down)
	{
		background-color: $brand-primary;
	}
}

.bg-secondary-for-mobile, // @DEPRECATED
.bg-color-secondary-for-mobile
{
	/**
	* Style for when viewport goes below {large} breakpoint
	*/
	@include breakpoint(large down)
	{
		background-color: $brand-secondary;
	}
}


/** 
 * Add text-transform and text-decoration classes
 */
.uc, // @DEPRECATED
.text-transform-uppercase
{
	text-transform: uppercase;
}

.underlined, // @DEPRECATED
.text-decoration-underlined
{
	text-decoration: underline;
}


/** 
 * Add inline classes
 */
.show-inline
{
	display: inline-block;
	vertical-align: middle;

	+ .show-inline
	{
		margin-left: rem-calc(16);
	}
}