/** 
 * Add min-height to #content
 */
#content
{
	min-height: rem-calc(300);
}

.content-width
{
	.column-left
	{
		.column-left-content
		{
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);

			@include breakpoint(xlarge)
			{
				width: 100%;
				max-width: rem-calc(830);
				padding-left: rem-calc(15);
				padding-right: rem-calc(60);
			}
		}
	}

	.column-right
	{
		.column-right-content
		{
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);

			@include breakpoint(xlarge)
			{
				width: 100%;
				max-width: rem-calc(830);
				padding-right: rem-calc(15);
				padding-left: rem-calc(60);
			}
		}
	}

	.content-image
	{
		width: 100%;
	}
}

.clear
{
	&-left
	{
		clear: left;
	}

	&-right
	{
		clear: right;
	}
}


/** 
 * Remove margin-bottom from flex-video
 */
.flex-video
{
	margin-bottom: 0;
}


/** 
 * Add scroll-to-top arrow style
 */
a#scroll-to-top
{
	background: url('../images/arrow.png') no-repeat center center;
	background-size: cover;
	z-index: 999;
	width: rem-calc(35);
	height: rem-calc(35);
	position: fixed;
	right: rem-calc(30);
	bottom: rem-calc(30);
	text-indent: -9999px;
	font-size: 0;
	cursor: pointer;
	outline: 0;

    /**
    * Style for when viewport goes below {small} breakpoint
    */
    @include breakpoint(small down)
    {
		right: 0;
    	bottom: 0;
    }
}


/** 
 * Adjust visual composer class styles and add padding classes
 */
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li
{
	margin-bottom: 0;
}

.vc_col-has-fill>.vc_column-inner, 
.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, 
.vc_section.vc_section-has-fill, 
.vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, 
.vc_section.vc_section-has-fill+.vc_section
{
	padding-top: 0;
}

.no-padding-foundation .columns
{
	padding-left: 0;
	padding-right: 0;
}

.no-padding-vc .vc_column_container>.vc_column-inner
{
	padding-left: 0!important;
	padding-right: 0!important;
}


/** 
 * Add button styles
 */
.button,
button.button
{
	
}


/** 
 * Add list classes
 */
ul.social-icons
{
	list-style-type: none;
	display: inline-block;
	margin-left: 0;

	li
	{
		float: none;
		display: inline-block;

		a
		{
			border: none;
			line-height: 1;
			text-align: center;
			transition: 0.3s all;
			display: inline-block;
			color: $brand-white;
			min-width: rem-calc(50);
			min-height: rem-calc(50);
			background-color: $brand-primary;
			padding: rem-calc(14) rem-calc(5) rem-calc(0);
			box-shadow: 0 rem-calc(2) rem-calc(6) rgba(53, 53, 53, 0.09);

			i
			{
				line-height: 1;
				padding: rem-calc(0);
				font-size: rem-calc(24);
			}

			&:hover,
			&:focus
			{
				color: $brand-primary;
				background-color: $brand-secondary;
			}
		}

		&:not(:last-child)
		{
			margin-right: rem-calc(8);
		}
	}
}


/**
 * Add Accordion Styles
 */
.accordion
{
	border: none;
	text-align: center;
	background: transparent;

	.accordion-title
	{
		text-align: left;
		padding: rem-calc(24);
		text-transform: capitalize;
		color: $brand-header-color;
		border-radius: rem-calc(0);
		padding-right: rem-calc(45);
		background-color: $brand-white;
		border: rem-calc(1) solid rgba($brand-primary, 0.15);

		@include breakpoint(large)
		{
			padding-left: rem-calc(30);
		}

		&::before
		{
			display: block;
			content: "\f078";
			font-weight: 900;
			right: rem-calc(30);
			font-size: rem-calc(20);
			color: $brand-secondary;
			font-family: "Font Awesome 5 Free";
		}

		&:after
		{
			content: "";
			display: none;
		}

		&:hover,
		&:focus
		{
			background-color: $brand-white;
		}
	}

	.accordion-item
	{
		border-radius: rem-calc(0);

		&.is-active
		{
			.accordion-title
			{
				outline: none;
				border-radius: 0;
				position: relative;
				color: $brand-white;
				background: $brand-primary;
				border-top-left-radius: rem-calc(0);
				border-top-right-radius: rem-calc(0);

				h4
				{
					color: $brand-white!important;
				}

				&::before 
				{
					content: "\f077";
					color: $brand-white;
				}
			}
		}

		&:not(:last-child)
		{
			margin-bottom: rem-calc(16);
		}
	}
}

.accordion-content
{
	border: none;
	background: transparent;
	padding: rem-calc(24);
	border-bottom-left-radius: rem-calc(0);
	border-bottom-right-radius: rem-calc(0);
	border-left: rem-calc(1) solid rgba($brand-primary, 0.15);
	border-right: rem-calc(1) solid rgba($brand-primary, 0.15);
	border-bottom: rem-calc(1) solid rgba($brand-primary, 0.15);

	@include breakpoint(large)
	{
		padding: rem-calc(30) rem-calc(24);
	}
}


/** 
 * Add pagination styles
 */
.pagination
{
	clear: both;
	position: relative;
	text-align: center;
	margin-bottom: 0;

	span,
	a
	{
		border: none;
		font-weight: 700;
		text-align: center;
		color: $brand-secondary;
		border: 1px solid $brand-primary;
		transition: all 0.3s;
		text-decoration: none;
		margin: 0 rem-calc(5);
		display: inline-block;
		font-size: rem-calc(30);
		min-width: rem-calc(63);
		min-height: rem-calc(63);
		background-repeat: no-repeat;
		font-family: "Kepler Std";
		background-position: center center;
		background-color: $brand-white;
		padding: rem-calc(15) rem-calc(30) rem-calc(15);
		box-shadow: 0 rem-calc(4) rem-calc(10) rgba(91, 67, 10, 0.1);
	}

	a:hover,
	span.active
	{
		border-color: none;
		color: $brand-primary;
		background-color: $brand-secondary;
	}
}