/** 
 * Site Title and Site Description are only shown when there is no logo.
 */
.site-title
{
	margin-bottom: 0;
}

.site-description
{
	color: $dark-gray;
	margin-bottom: 0;
}


/**
* Adding styles for header and top-bar
*/
header.header
{
	z-index: 1;
	position: relative;
	background-color: $brand-white;
	box-shadow: rem-calc(0) rem-calc(1) rem-calc(4) rgba($brand-body-color, 0.1);
}

.top-bar
{
	position: relative;
	padding: rem-calc(24) 0;

	@include breakpoint(medium)
	{
		padding: rem-calc(16) 0;
	}
}


/**
* Off Canvas Styles
*/
#off-canvas
{
	padding: rem-calc(60) rem-calc(30) rem-calc(30) rem-calc(45);

	/**
	* Style for when viewport goes below {medium} breakpoint
	*/
	@include breakpoint(small down)
	{
		padding: rem-calc(45) rem-calc(30) rem-calc(30) rem-calc(36);
	}

	ul.submenu
	{
		@include breakpoint(medium)
		{
			margin-left: rem-calc(18);
		}
	}

	.button,
	button.button
	{
		display: inline-block;
		min-width: rem-calc(175);
		margin-left: auto;
		margin-right: auto;
	}

	ul.social-icons
	{
		li
		{
			a
			{
				color: $brand-white;
				min-width: rem-calc(40);
				min-height: rem-calc(40);
				padding-top: rem-calc(10);
				background-color: $brand-primary;

				i
				{
					font-size: rem-calc(21);
				}

				&:hover,
				&:focus
				{
					color: $brand-white;
					background-color: $brand-secondary;
				}
			}
		}
	}
}

.off-canvas-content
{
	background-color: $brand-white;
	/* 	
	&.is-open-left
	{
		//transform: translateX(300px) translateY(90px)!important;
		opacity: 0.8;
	}
	*/
}

#off-canvas-close
{
	top: 0;
	right: 0;
	outline: none;
	line-height: 1;
	cursor: pointer;
	position: absolute;
	padding: 0 rem-calc(10);
	font-size: rem-calc(60);
	background-color: $brand-white;
}

#mobile-menu-toggle-container
{
	top: 50%;
	width: 100%;
	position: absolute;
	transform: translateY(-51%);
}

#mobile-menu-toggle
{
	right: 0;
	top: 50%;
	line-height: 1;
	position: absolute;
	color: $brand-white;
	padding: 0 rem-calc(10);
	font-size: rem-calc(30);
	transform: translateY(-50%);
}

#mobile-additional-links
{
	line-height: 1;
	padding: 0 rem-calc(10);
	font-size: rem-calc(30);

	a
	{
		display: block;
		line-height: 1;
		border-radius: 0;
		text-align: center;
		transition: 0.3s all;
		color: $brand-primary;
		min-width: rem-calc(36);
		min-height: rem-calc(36);
		padding: 0 0 rem-calc(5);
		background-color: $brand-white;
		border: rem-calc(2) solid $brand-primary;

		i
		{
			line-height: 1;
			padding: rem-calc(0);
			font-size: rem-calc(18);
		}

		&:hover,
		&:focus
		{
			color: $brand-white;
			background-color: $brand-primary;
		}

		&:not(:last-child)
		{
			margin-bottom: rem-calc(8);
		}
	}
}

body.logged-in
{
	#off-canvas
	{
		padding-top: rem-calc(105);
	}

	#off-canvas-close
	{
		top: rem-calc(46);
	}
}


/** 
* Removing default styles from .menu and .menu-text (logo)
* Adding padding to .menu-text (logo)
*/
.menu
{
	li.menu-text
	{
		padding: 0;

		a
		{
			z-index: 1;
			position: relative;
			padding: rem-calc(4) 0;
		}
	}

	.active
	{
		a
		{
			background: transparent;
		}
	}
}


/** 
* Adding styles for main navigation
*/
#main-nav
{
	display: flex;
	justify-content: center;

	li
	{
		position: relative;
		display: inline-block;
		vertical-align: middle;

		a
		{
			padding: 0;
			font-weight: 400;
			font-size: rem-calc(16);
			color: $brand-body-color;
			line-height: rem-calc(18);
			text-transform: uppercase;
			font-family: 'kepler-std', serif;
			transition: 0.3s color, 0.3s border-color;
			border-bottom: rem-calc(1) solid transparent;
			
			&:hover
			{
				color: $brand-body-color;
				border-bottom: rem-calc(1) solid $brand-body-color;
			}
		}

		ul.submenu
		{
			text-align: left;
			width: rem-calc(250);
			background: $brand-white;
			border: rem-calc(1) solid rgba($brand-body-color, 0.15);

			li
			{
				display: block;
				margin-right: 0;

				a
				{
					display: block;
					padding: rem-calc(8);
					color: $brand-primary;
					font-size: rem-calc(16);
					line-height: rem-calc(18);
					background-color: $brand-white;

					&:hover
					{
						color: $brand-white;
						background-color: $brand-primary;
					}

					&::after
					{
						display: none;
					}
				}

				&::after
				{
					display: none;
				}

				&:not(:last-child)
				{
					a
					{
						border-bottom: rem-calc(1) solid rgba($brand-body-color, 0.15);
					}
				}

				&.page_item.current-menu-item
				{
					a
					{
						color: $brand-white;
						background-color: $brand-primary;
					}

					&::after
					{
						display: none;
					}
				}
			}
		}

		&.is-dropdown-submenu-parent
		{
			>a
			{
				padding-right: rem-calc(18);

				&::after
				{
					right: 0;
					transition: 0.3s all;
					margin-top: rem-calc(-3);
					border-color: $brand-white transparent transparent;
				}

				&:hover
				{
					&::after
					{
						border-color: $brand-body-color transparent transparent;
					}
				}
			}
		}

		&.page_item.active
		{
			a
			{
				color: $brand-primary;
				border-bottom: rem-calc(1) solid $brand-primary;

				&::after
				{
					border-color: $brand-primary transparent transparent;
				}
			}
		}

		&:not(:last-child)
		{
			margin-right: rem-calc(16);
			
			/**
			* Style for when viewport goes above {large} breakpoint
			*/
			@include breakpoint(large)
			{
				margin-right: rem-calc(24);
			}
		}
	}
}

#offcanvas-nav
{
	margin-top: rem-calc(24);
	margin-bottom: rem-calc(32);

	li
	{
		a
		{
			padding: 0;
			font-weight: 400;
			color: $brand-white;
			display: inline-block;
			font-size: rem-calc(16);
			line-height: rem-calc(18);
			text-transform: uppercase;
			font-family: 'kepler-std', serif;
			transition: 0.3s color, 0.3s border-color;
			border-bottom: rem-calc(1) solid transparent;
			
			&:hover
			{
				color: $brand-body-color;
				border-bottom: rem-calc(1) solid $brand-body-color;
			}
		}

		ul.submenu
		{
			padding-top: rem-calc(4);
			padding-bottom: rem-calc(4);
			
			li
			{
				a
				{
					font-size: rem-calc(16);
					line-height: rem-calc(18);
				}

				&:not(:last-child)
				{
					margin-bottom: rem-calc(4);
				}
			}

			@include breakpoint(small)
			{
				margin-left: rem-calc(18);
			}
		}

		&.is-accordion-submenu-parent
		{
			>a
			{
				padding-right: rem-calc(18);

				&::after
				{
					right: 0;
					transition: 0.3s all;
					margin-top: rem-calc(-3);
					border-color: $brand-white transparent transparent;
				}

				&:hover
				{
					&::after
					{
						border-color: $brand-body-color transparent transparent;
					}
				}
			}
		}

		&.page_item.active
		{
			a
			{
				color: $brand-white;
				border-bottom: rem-calc(1) solid $brand-white;

				&::after
				{
					border-color: $brand-white transparent transparent;
				}
			}
		}

		&:not(:last-child)
		{
			margin-bottom: rem-calc(12);
		}
	}

	// @include breakpoint(small down)
	// {
	// 	text-align: center;
	// }
}